m0/ex0/__pychace__/
m0/ex0/main.py

m0/ex1/__pychace__/
m0/ex1/main.py

m0/ex2/__pychace__/
m0/ex2/main.py

m0/ex3/__pychace__/
m0/ex3/main.py

m0/ex4/__pychace__/
m0/ex4/main.py

m0/ex5/__pychace__/
m0/ex5/main.py

m0/ex6/__pychace__/
m0/ex6/main.py

m0/ex7/__pychace__/
m0/ex7/main.py

